@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: rgba(168, 43, 17, 0.8); */
}

html, body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.7%;
    margin-bottom: 4%;
    background-image: url(images/restaurantMural.jpg);
    background-size: auto;
    
    background-color: rgba(41, 38, 38, 0.6);
    background-blend-mode: multiply;
}

.transBackg{
    background: transparent;
}

.header{
    background-image: url(images/backgroundvegetables.jpeg);
    background-size: cover;
    background-color: rgba(41, 38, 38, 0.4);
    background-blend-mode: multiply;
    
}

.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    align-items: center;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 505px;
    letter-spacing: 4px;
    font-size: larger;
    font-style: italic;
    font-stretch: extra-expanded;
    font-display: flex;
    color: bisque;
    background: transparent;
}

.main-title p{
    font-size: 80px;
    background: transparent;
}

.main-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    align-items: center;
    background: transparent;
    font-family: 'Reem Kufi', sans-serif;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-nav{
    background-color: rgb(168, 43, 17);
}

.nav-element{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 21px;
    background-color: rgb(10, 106, 86);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-link{
    text-decoration: none;
    color: rgb(189, 147, 2);
    font-weight: bolder;
    background-color: transparent;
    margin: 6px;
    text-align: center;
    align-items: center;
}

.nav-link:hover{
    color: rgb(209, 167, 22);
}

/*.gb-image {
    height: 300px;
    width: 200px;
}*/

.filter-btn{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(72, 92, 110);
    border-radius: 10%;
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    margin: 5px;
    padding: 5px;
}

.filter-elmnt input{
    display: flex;
    width: 100%;
}

.bacg-att{
    background-image: url(images/);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.filter-container{
    justify-content: center;
    

}

.main-filter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.3em;
    
    
}

.main-filter h4{
    color: aliceblue;
    justify-content: center;
    border: 20px solid rgb(83, 59, 59);
    padding: 4px;
    margin-bottom: 0%;
    background-color: rgba(168, 43, 17, 0.8);
}

.main-filter div{
    border: 2px solid;
    border-top: none;
    background-color: rgba(168, 43, 17, 0.8);
}

.main-filter button{
    color: rgba(168, 43, 17, 0.8);
    font-weight: 900;
    align-items: center;
    text-align: center;
    cursor: pointer;
}



.filter-elments{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gb-title-pos{
    margin-bottom: 0%;
    
}

.gb-title{
    font-size: 3vw;
    text-align: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: blanchedalmond;
    background-color: rgba(168, 43, 17, 0.8);
    
}

.gallery-block{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    margin-left: -10%;
    margin-right: -10%;
}



.slider{
    background: transparent;
}

.slides{
    display: flex;
    justify-content: center;
    background: transparent;
}


.slide{
    border-radius: 10%;
    background: transparent;
}



.slide img{
    width: 97%;
    height: 99%;
    border-radius: 10%;
}

.slide img:hover{
    opacity: 95%;
    background-color: black;
    border-radius: 0%;
}





.cat-row-image{
    cursor: pointer;
}

.hide-popup{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top:10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.show-popup{
    display: block;
    position: fixed;
    z-index: 1;
    padding-top:3%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.poped-image{
    display: block;
    margin: auto;
    width: 70%;
    height: 70%;
    max-width: 600px;
}

#close-icon{
    position: absolute;
    top: 10%;
    right: 5%;
    color: antiquewhite;
    font-size:2vw;
    font-weight: bolder;
    transition: 0.17s;
    padding: 0.4%;
    border-radius: 10%;
    cursor: pointer;
    color: rgba(189, 147, 2, 1);
    background-color: rgba(10, 106, 86, 1);
}

#popCaption{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    font-family: 'Reem Kufi';
    font-size: 1.7vw;
    font-weight: bolder;
    max-width: 400px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'El Messiri', sans-serif;
    color: blanchedalmond;
}




.FOOTER{
    margin-top: 20%;
    background-color: rgba(168, 43, 17, .9);
}

.footer-title{
    font-size: 3vw;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: solid;
    
}

.above-icon{
    text-align: center;
    font-weight: bold;
    font-size: 1.1vw;
    margin-top: 1%;
}

.footer-icon{
    width: 3vw;
    height: 3vw;
}

.fotr-icon-div{
    display: flex;
    padding: 2%;
    justify-content: space-around;
    background-color: transparent;
    border-bottom: solid;
}

.fotr-icon-div a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10%;
    border: solid black;
    padding: 1%;
}

.phone-num-div{
    border-bottom: solid;
    padding: 1%;
    background-color: rgba(168, 43, 17, 1);
    
}

.phone-num-div span{
    padding-left: 1%;
    color: rgba(255, 235, 235, 1);
    font-size: 1.7vw;
    font-weight: bolder;
}
