


body{
    background-color: blanchedalmond;
    
}

body img{
    text-decoration: none;
}
.cart-item-img {
    display: none;
}

body button{
    display: none;
}

.table-head{
    background-color: cadetblue;
    
}

.table-headrs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mTHeadr{
    width: 10%;
    color: honeydew;
}

.new-review{
    background-color: honeydew;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.review-col{
    
    width: 11%;
    text-align: center;
    break-after: always;
    word-break: break-all;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
    overflow-wrap: break-word;
}

.cart-row{
    display: flex;
    border: solid;
    width: 90vw;
}


.cart-row:not(:last-child){
    border-bottom: solid;
    
}

.orderSnaps{
    width: 100%;
}

.cart-column-h{
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    width: 20%;
    
}



.cart-column{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}



   .cart-column:not(:last-child){
    border-right: darkblue solid;

} 

.addBtn{
    display: none;
}

.subtractBtn{
    display: none;
}

.cart-item-qty{
    padding: 5%;
}
